<form #alimentosFormulario="ngForm" (ngSubmit)="cargarAlimentos(alimentosFormulario)">
        <label>Ingresa tus alimentos</label>
    <div class="food-inputs">

        <input type="text">
        <input type="number">
        <input type="number">
        <input type="number">
        <input type="number">
        <input type="number">
        <button type="submit">Cargar</button>
    </div>

</form>
<table>
    <thead>
        <th>Nombre</th>
        <th>cals/100gr</th>
        <th>Prote</th>
        <th>Carbos</th>
        <th>Grasas</th>
    </thead>
    <tbody>
        <tr>
            <td>algo</td>
            <td>algo</td>
            <td>algo</td>
            <td>algo</td>
            <td>algo</td>
        </tr>
    </tbody>

</table>