
.dash-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days-navigator{
    display:flex;
    align-items: center;
    width:600px;
    justify-content: space-between;
}

a{
    cursor: pointer;
}
#left-svg{
    padding:9px;
    border-radius: 30px;   
    
    transform: rotate(180deg);
    transition: all .3s ease;
}

#left-svg:hover{
    transform: translateX(-7px) rotate(180deg);
    box-shadow: 1px 1px 10px 5px rgb(199, 211, 199);
}

#right-svg{
    
    padding:9px;
    border-radius: 30px;
    transition: all .4s ease;
}

#right-svg:hover{
    transform: translateX(7px);
    box-shadow: 1px 1px 10px 5px rgb(199, 211, 199);
}

table{
    margin-top: 2rem;
    width:900px;
}

.day-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-container h1{
    margin:0px;
    font-family: Prompt;
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 110%;
}
.day-container p{
    margin-top:0px;
    font-family: Prompt;
    font-weight: 500;
    font-size: 16px;
}

.table-footer{
    font-weight: bold;
}

.mat-mdc-header-row{
    color:white;
    background-color: #1f14fb;
}